footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a28e6;
    color: #006fd6;
    padding: 10px 10px;
    max-width: 100%;
}

.logo img {
    height: 40px;
}

footer p {
    font-size: 14px;
    text-align: center;
}